In [2]:
import os
path="pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
print(Agg_state_list)

['andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh', 'assam', 'bihar', 'chandigarh', 'chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh', 'uttarakhand', 'west-bengal']

In [3]:

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)
print(Agg_Trans)

                          State  Year  Quater           Transacion_type  \
0     andaman-&-nicobar-islands  2018       1  Recharge & bill payments
1     andaman-&-nicobar-islands  2018       1     Peer-to-peer payments
2     andaman-&-nicobar-islands  2018       1         Merchant payments
3     andaman-&-nicobar-islands  2018       1        Financial Services
4     andaman-&-nicobar-islands  2018       1                    Others
...                         ...   ...     ...                       ...
4669                west-bengal  2024       2         Merchant payments
4670                west-bengal  2024       2     Peer-to-peer payments
4671                west-bengal  2024       2  Recharge & bill payments
4672                west-bengal  2024       2        Financial Services
4673                west-bengal  2024       2                    Others

      Transacion_count  Transacion_amount
0                 4200       1.845307e+06
1                 1871       1.213866e+07
2                  298       4.525072e+05
3                   33       1.060142e+04
4                  256       1.846899e+05
...                ...                ...
4669         505063040       3.129978e+11
4670         393935166       1.182044e+12
4671          80431842       5.118639e+10
4672            545945       6.830567e+08
4673            504714       4.324746e+08

[4674 rows x 6 columns]

In [4]:

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path1="pulse/data/aggregated/user/country/india/state/"
Agg_state_list=os.listdir(path1)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm1={'State':[], 'Year':[],'Quater':[],'Brand':[], 'Transacion_count':[], 'Percentage':[]}

for i in Agg_state_list:
    p_i=path1+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            try:
                for z in D['data']['usersByDevice']:
                    brand=z['brand']
                    count=z['count']
                    percentage=z['percentage']
                    clm1['Brand'].append(brand)
                    clm1['Transacion_count'].append(count)
                    clm1['Percentage'].append(percentage)
                    clm1['State'].append(i)
                    clm1['Year'].append(j)
                    clm1['Quater'].append(int(k.strip('.json')))
            except:
                pass        
              
Agg_User=pd.DataFrame(clm1)
print(Agg_User)

                          State  Year  Quater    Brand  Transacion_count  \
0     andaman-&-nicobar-islands  2018       1   Xiaomi              1665
1     andaman-&-nicobar-islands  2018       1  Samsung              1445
2     andaman-&-nicobar-islands  2018       1     Vivo               982
3     andaman-&-nicobar-islands  2018       1     Oppo               501
4     andaman-&-nicobar-islands  2018       1  OnePlus               332
...                         ...   ...     ...      ...               ...
6727                west-bengal  2022       1   Lenovo            330017
6728                west-bengal  2022       1  Infinix            284678
6729                west-bengal  2022       1     Asus            280347
6730                west-bengal  2022       1    Apple            277752
6731                west-bengal  2022       1   Others           2196334

      Percentage
0       0.247033
1       0.214392
2       0.145697
3       0.074332
4       0.049258
...          ...
6727    0.015056
6728    0.012987
6729    0.012790
6730    0.012671
6731    0.100199

[6732 rows x 6 columns]

In [25]:
path2="pulse/data/aggregated/insurance/country/india/state/"
Agg_state_list=os.listdir(path2)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm2={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Insurance_count':[], 'Insurance_amount':[]}

for i in Agg_state_list:
    p_i=path2+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm2['Transacion_type'].append(Name)
              clm2['Insurance_count'].append(count)
              clm2['Insurance_amount'].append(amount)
              clm2['State'].append(i)
              clm2['Year'].append(j)
              clm2['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Insurance=pd.DataFrame(clm2)
print(Agg_Insurance)

                         State  Year  Quater Transacion_type  Insurance_count  \
0    andaman-&-nicobar-islands  2020       2       Insurance                6
1    andaman-&-nicobar-islands  2020       3       Insurance               41
2    andaman-&-nicobar-islands  2020       4       Insurance              124
3    andaman-&-nicobar-islands  2021       1       Insurance              225
4    andaman-&-nicobar-islands  2021       2       Insurance              137
..                         ...   ...     ...             ...              ...
605                west-bengal  2023       2       Insurance            49792
606                west-bengal  2023       3       Insurance            58131
607                west-bengal  2023       4       Insurance            72712
608                west-bengal  2024       1       Insurance            79576
609                west-bengal  2024       2       Insurance            67048

     Insurance_amount
0              1360.0
1             15380.0
2            157975.0
3            244266.0
4            181504.0
..                ...
605        65204280.0
606        76359312.0
607       100365562.0
608       104987909.0
609        89476633.0

[610 rows x 6 columns]

In [13]:
path3="pulse/data/map/transaction/hover/country/india/state/"
Map_state_list=os.listdir(path3)
Map_state_list
#map_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm3={'State':[], 'Year':[],'Quater':[],'District':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Map_state_list:
    p_i=path3+i+"/"
    Map_yr=os.listdir(p_i)
    for j in Map_yr:
        p_j=p_i+j+"/"
        Map_yr_list=os.listdir(p_j)
        for k in Map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm3['District'].append(Name)
              clm3['Transacion_count'].append(count)
              clm3['Transacion_amount'].append(amount)
              clm3['State'].append(i)
              clm3['Year'].append(j)
              clm3['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Map_Trans=pd.DataFrame(clm3)
print(Map_Trans)

                           State  Year  Quater  \
0      andaman-&-nicobar-islands  2018       1
1      andaman-&-nicobar-islands  2018       1
2      andaman-&-nicobar-islands  2018       1
3      andaman-&-nicobar-islands  2018       2
4      andaman-&-nicobar-islands  2018       2
...                          ...   ...     ...
19023                west-bengal  2024       2
19024                west-bengal  2024       2
19025                west-bengal  2024       2
19026                west-bengal  2024       2
19027                west-bengal  2024       2

                                District  Transacion_count  Transacion_amount
0      north and middle andaman district               442       9.316631e+05
1                 south andaman district              5688       1.256025e+07
2                      nicobars district               528       1.139849e+06
3      north and middle andaman district               825       1.317863e+06
4                 south andaman district              9395       2.394824e+07
...                                  ...               ...                ...
19023                     nadia district          49543213       8.588943e+10
19024                   birbhum district          29485233       4.969443e+10
19025           purba medinipur district          55342585       9.889789e+10
19026                    maldah district          52271735       9.043206e+10
19027                 darjiling district          22244510       3.404540e+10

[19028 rows x 6 columns]

In [22]:
path4="pulse/data/map/user/hover/country/india/state/"
Map_state_list=os.listdir(path3)
Map_state_list
#map_state_list--> to get the list of states in India
#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm4={'State':[], 'Year':[],'Quater':[],'District':[], 'Total_registeredUsers':[], 'Total_appOpens':[]}

for i in Map_state_list:
    p_i=path4+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Map_yr:
        p_j=p_i+j+"/"
        Map_yr_list=os.listdir(p_j)
        for k in Map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverData'].items():
                District=z[0]
                registeredUsers=z[1]['registeredUsers']
                appOpens=z[1]['appOpens']
                clm4['District'].append(District)
                clm4['Total_registeredUsers'].append(registeredUsers)
                clm4['Total_appOpens'].append(appOpens)
                clm4['State'].append(i)
                clm4['Year'].append(j)
                clm4['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Map_User=pd.DataFrame(clm4)
print(Map_User)

                           State  Year  Quater  \
0      andaman-&-nicobar-islands  2018       1
1      andaman-&-nicobar-islands  2018       1
2      andaman-&-nicobar-islands  2018       1
3      andaman-&-nicobar-islands  2018       2
4      andaman-&-nicobar-islands  2018       2
...                          ...   ...     ...
19027                west-bengal  2024       2
19028                west-bengal  2024       2
19029                west-bengal  2024       2
19030                west-bengal  2024       2
19031                west-bengal  2024       2

                                District  Total_registeredUsers  \
0      north and middle andaman district                    632
1                 south andaman district                   5846
2                      nicobars district                    262
3      north and middle andaman district                    911
4                 south andaman district                   8143
...                                  ...                    ...
19027                     nadia district                1737326
19028                   birbhum district                1099269
19029           purba medinipur district                1721598
19030                    maldah district                1231444
19031                 darjiling district                 711967

       Total_appOpens
0                   0
1                   0
2                   0
3                   0
4                   0
...               ...
19027        14549939
19028        38692858
19029        18370486
19030        42755282
19031        31397877

[19032 rows x 6 columns]

In [24]:
path5="pulse/data/map/insurance/hover/country/india/state/"
Map_state_list=os.listdir(path5)
Map_state_list
#map_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm5={'State':[], 'Year':[],'Quater':[],'District':[], 'Insurance_count':[], 'Insurance_amount':[]}

for i in Map_state_list:
    p_i=path5+i+"/"
    Map_yr=os.listdir(p_i)
    for j in Map_yr:
        p_j=p_i+j+"/"
        Map_yr_list=os.listdir(p_j)
        for k in Map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm5['District'].append(Name)
              clm5['Insurance_count'].append(count)
              clm5['Insurance_amount'].append(amount)
              clm5['State'].append(i)
              clm5['Year'].append(j)
              clm5['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Map_Insurance=pd.DataFrame(clm5)
print(Map_Insurance)

                           State  Year  Quater  \
0      andaman-&-nicobar-islands  2020       2
1      andaman-&-nicobar-islands  2020       2
2      andaman-&-nicobar-islands  2020       3
3      andaman-&-nicobar-islands  2020       3
4      andaman-&-nicobar-islands  2020       3
...                          ...   ...     ...
12286                west-bengal  2024       2
12287                west-bengal  2024       2
12288                west-bengal  2024       2
12289                west-bengal  2024       2
12290                west-bengal  2024       2

                                District  Insurance_count  Insurance_amount
0                 south andaman district                3             795.0
1                      nicobars district                3             565.0
2      north and middle andaman district                1             281.0
3                 south andaman district               35           13651.0
4                      nicobars district                5            1448.0
...                                  ...              ...               ...
12286                     nadia district             2758         3589423.0
12287                   birbhum district             1142         1515427.0
12288           purba medinipur district             2463         2987090.0
12289                    maldah district             2731         3446842.0
12290                 darjiling district             2758         4207151.0

[12291 rows x 6 columns]

In [21]:
path6="pulse/data/top/transaction/country/india/state/"
Top_state_list=os.listdir(path6)
Top_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm6={'State':[], 'Year':[],'Quater':[],'Pincodes':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Top_state_list:
    p_i=path6+i+"/"
    Top_yr=os.listdir(p_i)
    for j in Top_yr:
        p_j=p_i+j+"/"
        Top_yr_list=os.listdir(p_j)
        for k in Top_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
              EntityName=z['entityName']
              count=z['metric']['count']
              amount=z['metric']['amount']
              clm6['Pincodes'].append(EntityName)
              clm6['Transacion_count'].append(count)
              clm6['Transacion_amount'].append(amount)
              clm6['State'].append(i)
              clm6['Year'].append(j)
              clm6['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_Trans=pd.DataFrame(clm6)
print(Top_Trans)

                          State  Year  Quater Pincodes  Transacion_count  \
0     andaman-&-nicobar-islands  2018       1   744101              1622
1     andaman-&-nicobar-islands  2018       1   744103              1223
2     andaman-&-nicobar-islands  2018       1   744102               969
3     andaman-&-nicobar-islands  2018       1   744105               685
4     andaman-&-nicobar-islands  2018       1   744104               340
...                         ...   ...     ...      ...               ...
9276                west-bengal  2024       2   721301           5404541
9277                west-bengal  2024       2   732201           5321216
9278                west-bengal  2024       2   700006           4851340
9279                west-bengal  2024       2   742202           4779726
9280                west-bengal  2024       2   700001           4678132

      Transacion_amount
0          2.769298e+06
1          2.238042e+06
2          3.519060e+06
3          1.298561e+06
4          1.039715e+06
...                 ...
9276       6.950100e+09
9277       1.194881e+10
9278       8.331812e+09
9279       9.404879e+09
9280       8.179606e+09

[9281 rows x 6 columns]

In [10]:
path7="pulse/data/top/user/country/india/state/"
Top_state_list=os.listdir(path7)
Top_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm7={'State':[], 'Year':[],'Quater':[],'Pincodes':[], 'Transacion_count':[]}

for i in Top_state_list:
    p_i=path7+i+"/"
    Top_yr=os.listdir(p_i)
    for j in Top_yr:
        p_j=p_i+j+"/"
        Top_yr_list=os.listdir(p_j)
        for k in Top_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
              name=z['name']
              count=z['registeredUsers']
              clm7['Pincodes'].append(name)
              clm7['Transacion_count'].append(count)
              clm7['State'].append(i)
              clm7['Year'].append(j)
              clm7['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_User=pd.DataFrame(clm7)
print(Top_User)

                          State  Year  Quater Pincodes  Transacion_count
0     andaman-&-nicobar-islands  2018       1   744103              1608
1     andaman-&-nicobar-islands  2018       1   744101              1108
2     andaman-&-nicobar-islands  2018       1   744105              1075
3     andaman-&-nicobar-islands  2018       1   744102              1006
4     andaman-&-nicobar-islands  2018       1   744104               272
...                         ...   ...     ...      ...               ...
9277                west-bengal  2024       2   700015            136835
9278                west-bengal  2024       2   721101            132872
9279                west-bengal  2024       2   742304            131799
9280                west-bengal  2024       2   700150            128721
9281                west-bengal  2024       2   700091            127531

[9282 rows x 5 columns]

In [13]:
path8="pulse/data/top/insurance/country/india/state/"

Top_state_list=os.listdir(path8)
Top_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe
clm8={'State':[], 'Year':[],'Quater':[],'Pincodes':[], 'insurance_count':[], 'insurance_amount':[]}

for i in Top_state_list:
    p_i=path8+i+"/"
    Top_yr=os.listdir(p_i)
    for j in Top_yr:
        p_j=p_i+j+"/"
        Top_yr_list=os.listdir(p_j)
        for k in Top_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
              EntityName=z['entityName']
              count=z['metric']['count']
              amount=z['metric']['amount']
              clm8['Pincodes'].append(EntityName)
              clm8['insurance_count'].append(count)
              clm8['insurance_amount'].append(amount)
              clm8['State'].append(i)
              clm8['Year'].append(j)
              clm8['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_insurance=pd.DataFrame(clm8)
print(Top_insurance)

                          State  Year  Quater Pincodes  insurance_count  \
0     andaman-&-nicobar-islands  2020       2   744301                3
1     andaman-&-nicobar-islands  2020       2   744104                2
2     andaman-&-nicobar-islands  2020       2   744101                1
3     andaman-&-nicobar-islands  2020       3   744112                9
4     andaman-&-nicobar-islands  2020       3   744105                7
...                         ...   ...     ...      ...              ...
5950                west-bengal  2024       2   700091              486
5951                west-bengal  2024       2   700015              463
5952                west-bengal  2024       2   732101              435
5953                west-bengal  2024       2   700006              423
5954                west-bengal  2024       2   700150              408

      insurance_amount
0                565.0
1                513.0
2                282.0
3               3432.0
4               3948.0
...                ...
5950          769448.0
5951          553207.0
5952          540040.0
5953          593566.0
5954          510118.0

[5955 rows x 6 columns]